section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body, html {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

canvas {
    border-radius: 6px;
}

#layer2, #extraLayer1 {
    display: none;
}
