/* USER VARIABLES SECTION */

:root{
	--accent: rgb(154, 130, 84);
	--color-header: #f4efec;
	--color-text: rgb(205, 198, 195);
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: outfit-c;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide.
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 0rem; }*/

/* FONTS LOAD SECTION */

@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
/* GENERAL CSS SETTINGS */

::placeholder { color: var(--color-text); }
::selection { background-color: var(--accent); color: var(--color-text); }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--color-text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-image: url(../images/background.jpg);
	background-size: 50px;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0 none;
}

/*
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}*/

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

user agent stylesheet
li {
    text-align: -webkit-match-parent;
}

/* BOOSTRAP STYLES*/

.dropdown-menu {
	--bs-dropdown-link-active-bg: rgb(226, 147, 3);
}

.form-check-input {
    margin-top: 0.72em;
}

.form-select:focus{
    border-color:rgba(255, 255, 255, 0.4);
    box-shadow:0 0 0 .25rem rgba(255, 255, 255, 0.2);
}

.form-select:hover{
    cursor: pointer;
    border-color:rgba(255, 255, 255, 0.4);
    box-shadow:0 0 0 .08rem rgba(255, 255, 255, 1);
}

/*select.decorated option:hover {
    background-color: #000000 inset;
}*/
select option:hover {
    background-color: rgb(226, 147, 3);
}

.form-range::-webkit-slider-thumb{background-color:#fff}
.form-range::-webkit-slider-thumb:active{background-color:rgb(205, 198, 195);}
.form-range::-webkit-slider-runnable-track{background-color: rgb(205, 198, 195)}

.form-range:focus::-webkit-slider-thumb{box-shadow:0 0 0 1px #fff,0 0 0 .25rem rgba(255, 255, 255, 0.25)}

.form-range:focus::-moz-range-thumb{box-shadow:0 0 0 1px #fff,0 0 0 .25rem rgba(205, 198, 195, 0.25)}
.form-range::-moz-range-thumb{background-color:#fff}
.form-range::-moz-range-thumb:active{background-color:rgb(205, 198, 195)}

.form-check-input:focus{border-color:#ffffff; box-shadow:0 0 0 .25rem rgba(255, 255, 255, 0.25)}
.form-check-input:checked{background-color:rgb(226, 147, 3);border-color:rgb(226, 147, 3)}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.gridCellImage {
	max-width: 100%;
	padding: 0;
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}

.mainBg{
	color: rgb(205, 198, 195);
	background-image: url(../images/background.jpg);
}